<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<log_manager>
			<system>
				<enabled>1</enabled>
				<level>warning</level>
			</system>
			<debug>
				<enabled>0</enabled>
			</debug>
		</log_manager>
	</default>
</config>
